<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DarkFi - Dark Renaissance Finance">
    <title>DarkFi</title>
    <link href="css/lato.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/chomsky" type="text/css"/> 
    <!--<link rel="canonical" href="https://neovim.io/" />-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

{{ contents }}

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
